@mixin size($size)
  
  @if $size == XL
    @media screen and (min-width: 1300px)
      @content
   
  @else if $size == S
    @media screen and (min-width: 600px)
      @content

  @else if $size == XS
    @media screen and (max-width: 600px)
      @content

@mixin center
  left: 50%
  transform: translate(-50%)

@mixin width
  width: 90%
  max-width: 1200px

// PROJECTS TABLE "ACTIVITES"

.ProjectsTableMain
  position: relative
  top: 25vh
  @include center
  @include width


  h1
    position: absolute
    top: -15vh
    filter: invert(1)
    @include size(XS)

  img
    position: relative
    top: 5vh
    width: 40px
    @include center
    

    &:hover
      transform: translate(-50%, 25%)

.ProjectsTable
  position: relative
  box-shadow: 0 0 10px black
  border-radius: 5px

hr
  position: relative
  width: 80%
  height: 1px
  left: 10%
  border: 0
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0))

.Reposit a
  text-decoration: none
  color: black

  &:hover
    text-decoration: underline
    color: #8D41D6

.RepositProjects a:hover
  text-decoration: underline
  color: #8D41D6

.RepAll
  position: relative
  width: 100%

.Reposit
  @include size(XS)
    font-size: 7px

  @include size(X)
    font-size: 10px
  
  @include size(XL)
    font-size: 16px
  
  padding: 30px
  display: -ms-grid
  display: grid
  grid-template-areas: 'Project Message Date Time  '
  -ms-grid-columns: 0.5fr 5fr 1fr 1fr
  grid-template-columns: 0.5fr 5fr 1fr 1fr
  padding-top: 8px
  grid-column-gap: 10px
  padding-bottom: 8px

.Top
  padding: 30px
  padding-bottom: 32px
  display: -ms-grid
  display: grid
  grid-column-gap: 10px
  grid-template-areas: ' Project Message Date Time  '
  -ms-grid-columns: 0.5fr 5fr 1fr 1fr
  grid-template-columns: 0.5fr 5fr 1fr 1fr

.Project, .Top > .Project
  -ms-grid-row: 1
  -ms-grid-column: 1
  grid-area: Project

.Message, .Top > .Message
  -ms-grid-row: 1
  -ms-grid-column: 2
  grid-area: Message

.Date, .Top > .Date
  -ms-grid-row: 1
  -ms-grid-column: 3
  grid-area: Date

.Time, .Top > .Time
  -ms-grid-row: 1
  -ms-grid-column: 4
  grid-area: Time

// REPOSITORIES TABLE BLOCK

.Text
  position: relative
  background: black
  top: 35vh
  width: 100%
  box-shadow: 0 0 10px black
  color: white

.ProjectsReposMain
  padding-top: 20vh
  padding-bottom: 50vh
  position: relative
  @include width
  @include center

  h1
    position: absolute
    top: 5vh

.ProjectsRepos
  top: -50vh
  position: relative
  box-shadow: 0 0 10px white
  border-radius: 5px
  @include width
  @include center

  hr
    filter: invert(1)
    @include size(XS)
    @include center

.RepositProjects
  padding: 30px
  @include size(XS)
    font-size: 7px

  @include size(X)
    font-size: 10px
  
  @include size(XL)
    font-size: 16px
    
  padding-top: 8px
  padding-bottom: 8px
  display: -ms-grid
  grid-column-gap: 10px
  display: grid
  grid-template-areas: 'name descrip language create update size'
  -ms-grid-columns: 1fr 5fr 1fr 1fr 1fr 1fr
  grid-template-columns: 1fr 5fr 1fr 1fr 1fr 1fr


.TopProjects
  padding: 30px
  padding-bottom: 32px
  display: -ms-grid
  display: grid
  grid-column-gap: 10px
  grid-template-areas: 'name descrip language create update size'
  -ms-grid-columns: 1fr 5fr 1fr 1fr 1fr 1fr
  grid-template-columns: 1fr 5fr 1fr 1fr 1fr 1fr

.RepositProjects a
  text-decoration: none
  color: white

.Name, .TopProjects > .Name
  -ms-grid-row: 1
  -ms-grid-column: 1
  grid-area: name

.Descrip, .TopProjects > .Descrip
  -ms-grid-row: 1
  -ms-grid-column: 2
  grid-area: descrip

.Language, .TopProjects > .Language
  -ms-grid-row: 1
  -ms-grid-column: 3
  grid-area: language

.Create, .TopProjects > .Create
  -ms-grid-row: 1
  -ms-grid-column: 4
  grid-area: create

.Update, .TopProjects > .Update
  -ms-grid-row: 1
  -ms-grid-column: 5
  grid-area: update

.Size, .TopProjects > .Size
  -ms-grid-row: 1
  -ms-grid-column: 6
  grid-area: size