@mixin size($size)
  @if $size == XL
    @media screen and (min-width: 1300px)
      @content
  
  @else if $size == S
    @media screen and (min-width: 600px)
      @content
  
  @else if $size == M
    @media screen and (min-width: 768px)
      @content
  
  @else if $size == XS
    @media screen and (max-width: 600px)
      @content

@mixin fontSize
  @include size(XS)
    line-height: 125%
    letter-spacing: 1pt
    font-size: 12pt

  @include size(S)
    line-height: 150%
    letter-spacing: 2pt
    font-size: 14pt

.MenuForPc
  position: fixed
  z-index: 2
  width: 100%
  height: 50px
  display: flex
  justify-content: center

  @include size(XS)
    visibility: hidden
  @include size(S)
    visibility: hidden
  @include size(M)
    visibility: visible

  span
    position: absolute
    top: 50%
    left: 50%
    -webkit-transform: translate(-50%, -50%)
    transform: translate(-50%, -50%)
    text-decoration: none
    color: black

.MenuMax
  position: absolute
  height: 100%
  @include fontSize
  max-width: 1200px
  width: 100%
  > *
    position: absolute
    overflow: hidden
    width: 225px
    height: 100%
    > div
      > div
      position: absolute
      width: 100%
      height: 7%
      background: black
      bottom: -7%
    &:hover
      background: rgba(255, 255, 255, 0.15)
      > div
        bottom: 0

.Contact
  right: 0

.Main
  left: 0

.Projects
  right: 230px


.MenuForPhone
  position: fixed
  width: 100%
  z-index: 2
  overflow: hidden
  background: white
  box-shadow: 0 0 10px black
  transition: .5s

  @include size(XS)
    visibility: visible
  @include size(S)
    visibility: visible
  @include size(M)
    visibility: hidden

.ContactPhone, .MainPhone, .ProjectsPhone
  @include fontSize
  position: relative
  width: 90%
  height: 50px
  background: black
  left: 50%
  color: white
  top: 55px
  margin-bottom: 10px
  border-radius: 5px
  transform: translate(-50%)
  > span
    font-size: 12pt
    top: 50%
    position: absolute
    left: 50%
    transform: translate(-50%, -50%)
  &:hover
    span
      font-size: 14pt

.ButtonOpen
  position: fixed
  width: 50px
  height: 50px
  background: white
  top: 0
  right: 0
  z-index: 2
  border-bottom-left-radius: 10px

  @include size(XS)
    visibility: visible
  @include size(S)
    visibility: visible
  @include size(M)
    visibility: hidden

.Button1, .Button2, .Button3
  width: 40px
  height: 5px
  left: 7px
  position: absolute
  background: black
  border-radius: 10px
