.Menu {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    
    width: 100vw;
    height: 5vh;
}

.Menu a {
    position: absolute;
    top: 50%;
    left: 50%;

    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-decoration: none;

    color: black;
}

.Menu>* {
    position: absolute;

    overflow: hidden;

    width: 10%;
    height: 100%;
}

.Menu>* div {
    position: absolute;
    bottom: -7%;

    width: 100%;
    height: 7%;

    background: black;
}

.Menu>*:hover div {
    bottom: 0;
}

.Menu>*:hover {
    background: rgba(255, 255, 255, .15);
}

.Contact {
    left: 10%;
}

.Main {
    right: 10%;
}

.Projects {
    right: 20%;
}

.ToTop {
    position: fixed;
    z-index: 2;
    right: 0;
    bottom: 0;

    width: 3vw;
    margin: 1.5vw;
}

@media screen and (max-width: 177.777vh) {
    .Menu>* {
        width: 20%;
    }

    .Menu a {
        font-size: 3.25rem;
    }

    .Projects {
        right: 30%;
    }
}