@mixin size($size)
  
  @if $size == XL
    @media screen and (min-width: 1300px)
      @content
  
  @else if $size == M
    @media screen and (min-width: 768px)
      @content
  
  @else if $size == S
    @media screen and (min-width: 600px)
      @content

  @else if $size == XS
    @media screen and (max-width: 600px)
      @content

@mixin center
  left: 50%
  transform: translate(-50%)

// COMMENTS BLOCK

.Comments
  box-shadow: 0 0 10px white
  border-radius: 5px
  position: absolute
  
  @include size(XS)
    top: 400px
    width: 500px
    height: 800px
    @include center

  @include size(S)
    top: 400px
    width: 550px
    height: 800px
    @include center

  @include size(M)
    width: 600px
    right: 120px
  
  @include size(XL)
    height: 600px
    transform: translate(0)
    right: 0
    top: 0

// FORMS STYLE

.FormAreaMessage, .FormAreaName
  position: absolute
  margin: 1%
  width: 100%

.InputMessage, .InputName
  outline: none
  border: none
  padding-top: 4px
  padding-bottom: 4px
  padding-left: 12px
  padding-right: 12px
  border-radius: 5px
  margin-right: 5px
  width: 76%

.InputMessage:hover, .InputName:hover
  box-shadow: 0 0 15px white

.InputMessage:focus, .InputName:focus
  box-shadow: 0 0 10px white

.InputSubmitMessage, .InputSubmitName
  width: 17%
  background: black
  color: white
  border: 1px solid white
  padding-top: 4px
  padding-bottom: 4px
  padding-left: 12px
  padding-right: 12px
  border-radius: 5px

.InputSubmitMessage:hover, .InputSubmitName:hover
  background: white
  color: black

.InputName
  width: 38%

// MESSAGE BLOCK
.Catch
  position: absolute
  top: 90px
  width: 100%
  overflow-y: scroll
  overflow-x: hidden

  @include size(XS)
    height: 710px

  @include size(S)
    height: 710px

  @include size(XL)
    height: 510px

// MESSAGE
.Message
  width: 100%
  height: auto
  // margin: 2px
  position: relative

  hr
    position: relative
    filter: invert(1)
    width: 100%
    left: 0;
.Name
  width: 100%
  padding: 2px
  background: rgba(255, 255, 255, 0.3)
  
  >
    span
      position: relative
      left: 10px
    
.Date
  position: absolute
  right: 20px
  transform: translate(0, -100%)

.MessageText
  position: relative
  border-radius: 2.5px
  word-wrap: break-word
  padding: 10px