@mixin size($size)
  
  @if $size == XL
    @media screen and (min-width: 1300px)
      @content
  
  @else if $size == M
    @media screen and (min-width: 768px)
      @content
  
  @else if $size == S
    @media screen and (min-width: 600px)
      @content

  @else if $size == XS
    @media screen and (max-width: 600px)
      @content

@mixin center
  left: 50%
  transform: translate(-50%)
@mixin fontSize
  @include size(XS)
    line-height: 100%
    letter-spacing: 0.75pt
    font-size: 10pt

  @include size(S)
    line-height: 125%
    letter-spacing: 1pt
    font-size: 12pt

// COMMENTS BLOCK

.Comments
  box-shadow: 0 0 10px white
  border-radius: 5px
  position: absolute
  @include fontSize()
  
  @include size(XS)
    top: 400px
    max-width: 500px
    width: 90%
    height: 800px
    @include center

  @include size(S)
    top: 400px
    width: 550px
    height: 800px
    @include center

  @include size(M)
    width: 600px
    right: 120px
  
  @include size(XL)
    height: 600px
    transform: translate(0)
    right: 0
    top: 0

// FORMS STYLE

.FormAreaMessage, .FormAreaName
  position: absolute
  margin: 1%
  width: 100%

.InputMessage, .InputName
  outline: none
  border: none
  width: 94%
  border-radius: 5px
  padding-top: 4px
  padding-bottom: 4px
  @include size(XS)
    width: 98%
    padding: none
  @include size(S)
    padding-left: 12px
    padding-right: 12px
.InputMessage:hover, .InputName:hover
  box-shadow: 0 0 15px white

.InputMessage:focus, .InputName:focus
  box-shadow: 0 0 10px white

.InputSubmitName
  background: black
  width: 98%
  top: 80px
  left: 0
  position: absolute
  color: white
  border: 1px solid white
  padding-top: 4px
  padding-bottom: 4px
  padding-left: 12px
  padding-right: 12px
  border-radius: 5px

.InputSubmitName:hover
  background: white
  color: black

.InputMessage
  position: absolute
  top: 42px

// MESSAGE BLOCK
.Catch
  position: absolute
  top: 130px
  width: 100%
  overflow-y: scroll
  overflow-x: hidden

  @include size(XS)
    height: 670px

  @include size(S)
    height: 670px

  @include size(XL)
    height: 470px

// MESSAGE
.Message
  width: 100%
  height: auto
  position: relative

  hr
    position: relative
    filter: invert(1)
    width: 100%
    left: 0

.Name
  width: 100%
  padding: 2px
  background: rgba(255, 255, 255, 0.3)
  
  >
    span
      position: relative
      left: 10px
    
.Date
  position: absolute
  right: 20px
  transform: translate(0, -100%)

.MessageText
  position: relative
  border-radius: 2.5px
  word-wrap: break-word
  padding: 10px