.About {
    left: 0;

    width: 100%;
    height: 90vh;
    margin-bottom: 25vh;

    color: white;
    background: black;
    box-shadow: 0 0 0.5vw black;

    grid-column-gap: 0;
}

.About>h1 {
    position: absolute;
    top: 10%;
    left: 10%;
}

.About>div {
    font-size: 1.25em;
    line-height: 150%;

    position: absolute;
    left: 10vw;

    width: 80vw;

    text-align: justify;
}

.MeText {
    top: 25%;
}

.SepezhoTitle {
    top: 50% !important;
    left: 50% !important;

    -webkit-transform: translate(-50%);
    transform: translate(-50%);
}

.Sepezho {
    top: 50%;
    width: 100%;
}

.Sepezho img {
    position: absolute;
    top: 10vh;
    height: 10vh;
}

.Left {
    left: 25%;
}

.Rigth {
    right: 25%;
}

.Center {
    left: 50%;

    -webkit-transform: translate(-55%);
    transform: translate(-55%);
}

.LeftText,
.CenterText,
.RigthText {
    font-size: 1em;
    line-height: 100%;

    position: absolute;
    top: 22.5vh;

    width: 10vw;
}

.LeftText {
    left: 15%;
}

.CenterText {
    left: 50%;

    -webkit-transform: translate(-45%);
    transform: translate(-45%);
}

.RigthText {
    right: 10%;
}

@media screen and (max-width: 177.777vh) {
    .About>div {
        font-size: 3.5rem;

        left: 5vw;

        width: 90vw;
    }
}