
.RepAll{

    position: relative;
    color: black;
    left: 8.5vw !important;
    top: 15vw;
        border-radius: .2vw;
        box-shadow: 0 0 0.5vw black;
 }

hr {
    position: relative;
    left: 10%;

    width: 80%;
    height: 1px;

    border: 0;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, .75), rgba(0, 0, 0, 0));
}

.Reposit a {
    text-decoration: none;

    color: #00f;
}

.Reposit a:hover {
    text-decoration: underline;

    color: #a400ff;
}

.RepAll {
    position: relative;
    left: 6vw;

    min-height: 7rem;
    padding: 1.5vw;
}

.Reposit {
    display: -ms-grid;
    display: grid;

    grid-template-areas: 'name descrip language create update size';
    -ms-grid-columns: 1fr 5fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 5fr 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 3vh;
    grid-template-rows: 3vh;
}

.Top {
    display: -ms-grid;
    display: grid;

    grid-template-areas: 'name descrip language create update size';
    -ms-grid-rows: 5vh;
    grid-template-rows: 5vh;
    -ms-grid-columns: 1fr 5fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 5fr 1fr 1fr 1fr 1fr;
}

.Name {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: name;
}

.Top>.Name {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.Descrip {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: descrip;
}

.Top>.Descrip {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
}

.Language {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: language;
}

.Top>.Language {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}

.Create {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
    grid-area: create;
}

.Top>.Create {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
}

.Update {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
    grid-area: update;
}

.Top>.Update {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
}

.Size {
    -ms-grid-row: 1;
    -ms-grid-column: 6;
    grid-area: size;
}

.Top>.Size {
    -ms-grid-row: 1;
    -ms-grid-column: 6;
}


@media screen and (max-width: 177.777vh) {
    .RepAll {
        position: relative;
        top: 10vh;
        left: 3vw;

        width: 90vw;

        border-radius: 2vw;
    }

    .Reposit>* {
        font-size: 3.25rem;
    }

    .Reposit {
        min-height: 7vh;
    }

    .Name>* {
        font-size: 3.25rem;
    }

    .Top>* {
        font-size: 3.25rem;
    }
}