@mixin centerColumn
  width: 100%
  max-width: 1200px 
  left: 50%
  -webkit-transform: translate(-50%)
  transform: translate(-50%)

@mixin center
  position: absolute
  top: 50%
  left: 50%
  -webkit-transform: translate(-50%, -50%)
  transform: translate(-50%, -50%)

.Main
  position: relative
  height: 275vh
  background: white

  > *
    position: relative
    @include centerColumn

// ABOUT BLOCK

.About
  max-width: 100% !important
  height: 100vh
  margin-bottom: 25vh
  color: white
  background: black
  box-shadow: 0 0 0.5vw black

  > div
      @include centerColumn
      font-size: 1.25em
      line-height: 150%
      position: absolute
      width: 100%
      text-align: justify

.AboutMeTitle
  position: absolute
  top: -75%
  font-size: 3.25rem
  line-height: 100%
  
.MeText
  top: 25%

.SepezhoTitle
  @include center
  top: 55% !important

.Sepezho
  @include centerColumn
  top: 55% !important
  width: 100%

  img
    position: absolute
    top: 10vh
    height: 10vh

.Left
  left: 25%

.Rigth
  right: 25%

.Center
  left: 50%
  -webkit-transform: translate(-55%)
  transform: translate(-55%)

.LeftText, .CenterText, .RigthText
  font-size: 1em
  line-height: 100%
  position: absolute
  top: 22.5vh
  width: 20%

.LeftText
  left: 20%

.CenterText
  left: 50%
  -webkit-transform: translate(-30%)
  transform: translate(-30%)

.RigthText
  right: 10%

// TABLE LAST ACTIVITES

.ProjectsTableMain
  position: relative
  top: 8vh

.Table
  top: 15vh

  img
    position: relative
    left: 50%
    top: 15vh
    width: 40px
    transform: translate(-50%)

    &:hover
      transform: translate(-50%, 25%)

  > h1
    filter: invert(1)
    width: 34%

// PROJECTS 4 BLOCKS

.Projects > h1
  filter: invert(100%)
  width: 34%
  position: absolute
  top: -20%

.Projects
  display: -ms-grid
  display: grid
  grid-template-areas: 'main sec' 'port terd'
  grid-template-columns: 1fr 1fr
  grid-column-gap: 1%
  grid-row-gap: 2%

  > *
    position: relative
    box-shadow: 0 0 5px black
    border-radius: .3vw
    overflow: hidden

.Proj
  grid-area: port

.Proj1
  -ms-grid-row: 1
  -ms-grid-row-span: 2
  -ms-grid-column: 1
  grid-area: main

.Proj2
  -ms-grid-row: 1
  -ms-grid-column: 3
  grid-area: sec

.Proj3
  -ms-grid-row: 2
  -ms-grid-column: 3
  grid-area: terd

.Projects
  img
    width: 100%
    height: 100%
    border-radius: .3vw
    -webkit-filter: blur(2px) brightness(50%)
    filter: blur(2px) brightness(50%)

  div:hover
    .ProjImg
      -webkit-filter: blur(0) brightness(100%)
      filter: blur(0) brightness(100%)

    .Text
      left: 15%

    .TextDesc
      bottom: 15%

  a
    text-decoration: none
    color: white


.Text
  font-size: 1rem
  top: 50%
  left: -150px
  transition: .3s
  -webkit-transform: translate(0, -50%)
  transform: translate(0, -50%)
  position: absolute
  z-index: 1
  padding: 5px
  border-radius: 15px
  background: rgba(0, 0, 0, 0.6)

.TextDesc
  position: absolute
  z-index: 1
  padding: 2px
  border-radius: 3px
  background: rgba(0, 0, 0, 0.6)
  font-size: .85rem
  bottom: -100%
  left: 50%
  transition: .5s
  -webkit-transform: translate(-50%)
  transform: translate(-50%)
  text-align: center