@mixin size($size)
  
  @if $size == XXL
    @media screen and (min-width: 1700px)
      @content
  
  @else if $size == XL
    @media screen and (min-width: 1300px)
      @content
  
  @else if $size == L
    @media screen and (min-width: 992px)
      @content

  @else if $size == M
    @media screen and (min-width: 768px)
      @content
  
  @else if $size == S
    @media screen and (min-width: 600px)
      @content

  @else if $size == XS
    @media screen and (max-width: 600px)
      @content

@mixin centerColumn
  width: 100%
  max-width: 1200px 
  left: 50%
  -webkit-transform: translate(-50%)
  transform: translate(-50%)

@mixin center
  position: absolute
  top: 50%
  left: 50%
  -webkit-transform: translate(-50%, -50%)
  transform: translate(-50%, -50%)

.Main
  position: relative
  background: white
  
  @include size(XS)
    height: 4400px
  
  @include size(S)
    height: 4250px

  @include size(M)
    height: 4000px
  
  @include size(L)
    height: 3700px

  @include size(XL)
    height: 3100px
  > *
    position: relative
    @include centerColumn

// ABOUT BLOCK

.About
  max-width: 100% !important
  margin-bottom: 25vh
  color: white
  background: black
  box-shadow: 0 0 10px black

  @include size(XS)
    height: 2000px

  @include size(S)
    height: 1750px

  @include size(M)
    height: 1450px

  @include size(L)
    height: 1200px

  @include size(XL)
    height: 1200px

  > div
      @include centerColumn
      position: absolute
      text-align: justify
      width: 90%

      @include size(XS)
        font-size: 1.75em
        line-height: 150%
      @include size(S)
        font-size: 1.75em
        line-height: 150%
      @include size(M)
        font-size: 1.50em
        line-height: 150%


.AboutMeTitle
  position: absolute
  top: -125px
  font-size: 3.25rem
  line-height: 100%
  
.MeText
  top: 200px

.SepezhoTitle
  @include center
  top: 55% !important
  width: 500px

  @include size(XS)
    top: 67% !important

  @include size(S)
    top: 65% !important
   
  @include size(M)
    top: 55% !important


.Sepezho
  @include centerColumn
  top: 55% !important
  width: 100%
  
  @include size(XS)
    top: 67% !important

  @include size(S)
    top: 65% !important

  @include size(M)
    top: 55% !important

  img
    position: absolute
    top: 100px
    height: 100px

.Left

  @include size(XS)
    left: 0%

  @include size(S)
    left: 0%

  @include size(M)
    left: 10%

  @include size(L)
    left: 10%

  @include size(XL)
    left: 25%

.Rigth

  @include size(XS)
    right: 0%

  @include size(S)
    right: 0%

  @include size(M)
    right: 10%

  @include size(L)
    right: 10%

  @include size(XL)
    right: 25%
    

.Center
  left: 50%
  -webkit-transform: translate(-55%)
  transform: translate(-55%)

.LeftText, .CenterText, .RigthText
  font-size: .85em
  line-height: 100%
  position: absolute
  top: 250px
  width: 20%

  @include size(XS)
    font-size: .70em
    line-height: 100%

  @include size(S)
    font-size: .75em
    line-height: 100%

  @include size(M)
    font-size: .9em
    line-height: 100%

  @include size(XL)
    font-size: 1em
    line-height: 100%

.LeftText
  @include size(XS)
    left: 0%

  @include size(S)
    left: 0%

  @include size(M)
    left: 10%

  @include size(XL)
    left: 17%

.CenterText
  -webkit-transform: translate(-30%)
  transform: translate(-30%)
  @include size(XS)
    left: 35%

  @include size(S)
    left: 35%

  @include size(M)
    left: 50%

.RigthText
  @include size(XS)
    right: 0%

  @include size(S)
    right: 0%
  
  @include size(M)
    right: 0%

  @include size(L)
    right: 0%

  @include size(XL)
    right: 10%


// PROJECTS 4 BLOCKS

.Projects > h1
  filter: invert(100%)
  width: 400px
  position: absolute
  top: -200px

  @include size(XS)
    left: 50%
    transform: translate(-50%)

  @include size(S)
    left: 50%
    transform: translate(-50%)

  @include size(XL)
    left: 0%
    transform: translate(0)

.Projects
  display: -ms-grid
  display: grid
  grid-column-gap: 1%
  grid-row-gap: 2%
  margin-bot100px: 8vh


  @include size(XS)
    width: 90%
    max-width: 500px
    grid-template-areas: 'main''sec''port''terd'
    grid-template-columns: 1fr

  @include size(S)
    width: 90%
    max-width: 600px
    grid-template-areas: 'main''sec''port''terd'
    grid-template-columns: 1fr

  @include size(XL)
    max-width: 1200px 
    width: 100%
    grid-template-areas: 'main sec' 'port terd'
    grid-template-columns: 1fr 1fr

  > *
    position: relative
    box-shadow: 0 0 10px black
    border-radius: 5px
    overflow: hidden

.Proj
  grid-area: port

.Proj1
  grid-area: main

.Proj2
  grid-area: sec

.Proj3
  grid-area: terd

.Projects
  img
    width: 100%
    height: 100%
    border-radius: 5px
    
    @include size(XS)
      -webkit-filter: blur(0) brightness(1)
      filter: blur(0) brightness(1)
    
    @include size(S)
      -webkit-filter: blur(0) brightness(1)
      filter: blur(0) brightness(1)
    
    @include size(XL)
      -webkit-filter: blur(2px) brightness(50%)
      filter: blur(2px) brightness(50%)
  
  div:hover
    .ProjImg
      -webkit-filter: blur(0) brightness(1)
      filter: blur(0) brightness(1)

    .Text
      left: 15%

    .TextDesc
      bottom: 15%

  a
    text-decoration: none
    color: white


.Text
  font-size: 1em
  top: 50%
  -webkit-transform: translate(0, -50%)
  transform: translate(0, -50%)
  position: absolute
  z-index: 1
  padding: 5px
  border-radius: 15px
  background: rgba(0, 0, 0, 0.6)

  @include size(XS)
    left: 15%
  
  @include size(S)
    left: 15%

  @include size(XL)
    left: -150px

.TextDesc
  position: absolute
  z-index: 1
  padding: 2px
  border-radius: 3px
  background: rgba(0, 0, 0, 0.6)
  font-size: .85em
  left: 50%
  transition: .5s
  -webkit-transform: translate(-50%)
  transform: translate(-50%)
  text-align: center
  @include size(XS)
    bottom: 15%
  
  @include size(S)
    bottom: 15%

  @include size(XL)
    bottom: -100%

  // TABLE LAST ACTIVITES

.ProjectsTableMain
  position: relative
  top: 100px


.Table
  top: 200px
  // overflow-x: hidden

  img
    position: relative
    left: 50%
    top: 15vh
    width: 40px
    transform: translate(-50%)

    &:hover
      transform: translate(-50%, 25%)

  > h1
    filter: invert(1)
    width: 400px

    @include size(XS)
      position: absolute
      left: 50%
      transform: translate(-50%)
    
    @include size(S)
      position: absolute
      left: 50%
      transform: translate(-50%)
    
    @include size(XL)
      left: 0
      transform: translate(0)
    