.Main {
    position: relative;

    height: 300vh;

    background: white;
}

.Main>* {
    position: relative;
    left: 10vw;

    width: 80vw;
}
.ProjectsTableMain{
    position: relative;
    top: 8vh;
}
.Table{
    position: relative;
    top: 15vh;
}
.Table img{
    position: relative;
    left: 50%;
    top: 15vh;
    width: 2.5vw;
    transform: translate(-50%);
}
.Table img:hover{
    transform: translate(-50%,25%);
}
.Table>h1, .Main>h1{
   filter: invert(100%);
   width: 26%;
}
.Main>h1{
    position: relative;
    top: -10vh;
}
.Projects {
    display: -ms-grid;
    display: grid;
    width: 75vw;
    position: relative;
    left: 12.5vw;
    grid-template-areas: 'main sec'
        'port terd';
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1%;
    grid-row-gap: 2%;
}

.Projects>* {
    position: relative;
    
    box-shadow: 0 0 0.25vw black;
    border-radius: .3vw;
    
    overflow: hidden;
}

.Proj {
    grid-area: port;
}

.Proj1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    grid-area: main;
}

.Proj2 {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: sec;
}

.Proj3 {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    grid-area: terd;
}

.Projects img {
    width: 100%;
    height: 100%;
    border-radius: .3vw;

    -webkit-filter: blur(.075vw) brightness(50%);
    filter: blur(.075vw) brightness(50%);
}


.Projects div:hover .ProjImg {
    -webkit-filter: blur(0) brightness(100%);
    filter: blur(0) brightness(100%);
}

.Projects div:hover .Text {
    left: 15%;
}

.Text {
    font-size: .8vw;

    top: 50%;
    left: -5vw;

    transition: .3s;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.Text,
.TextDesc {
    position: absolute;
    z-index: 1;

    padding: 2px;

    border-radius: .1vw;
    background: rgba(0, 0, 0, .6);
}

.Projects div:hover .TextDesc {
    bottom: 15%;
}

.Projects a {
    text-decoration: none;

    color: white;
}

.TextDesc {
    font-size: .7vw;

    bottom: -100%;
    left: 50%;

    transition: .5s;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    text-align: center;
}

.Proj2 span {
    color: black;
    background: rgba(255, 255, 255, .8);
}

.Proj1 .textDesc {
    font-size: .8vw;
}

.Proj1 .text {
    font-size: 1vw;
}



@media screen and (max-width: 177.777vh) {
    .Projects {
        left: 5vw;

        width: 90vw;

        grid-template-areas: 'main'
            'sec'
            'terd';
        -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-gap: 5vw;
    }

    .Projects video {
        border-radius: 2vw;
    }

    .Text {
        font-size: 3.5rem;
        ;

        left: 15%;
    }

    .TextDesc {
        font-size: 3.5rem;
        ;

        bottom: 15%;
    }

    .Proj1 .TextDesc {
        font-size: 3.5rem;
    }

    .Proj1 .Text {
        font-size: 3.5rem;
    }
}