.Main {
    position: relative;

    height: 270vh;

    background: white;
}

.Main>* {
    position: relative;
    left: 7.5vw;

    width: 85vw;
}

.Projects {
    display: -ms-grid;
    display: grid;

    grid-template-areas: 'main sec'
        'main terd';
    -ms-grid-rows: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    -ms-grid-columns: 2fr 1% .992fr;
    grid-template-columns: 2fr .992fr;
    grid-gap: 0.5%;
    height: 100vh;
}

.Projects>* {
    position: relative;
    overflow: hidden;
}

.Proj1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    grid-area: main;
}

.Proj2 {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: sec;
}

.Proj3 {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    grid-area: terd;
}

.Projects img {
    width: 100%;
    height: 100%;
    border-radius: .3vw;
    filter: blur(.05vw) brightness(60%);

}
.Projects div:hover .ProjImg {
    -webkit-filter: blur(0) brightness(100%);
    filter: blur(0) brightness(100%);
}

.Projects div:hover .Text {
    left: 15%;
}

.Text {
    font-size: .8vw;

    top: 50%;
    left: -5vw;

    transition: .3s;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
}
.Text, .TextDesc{
    border-radius: 0.1vw;
    padding: 2px;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    z-index: 1;

}
.Projects div:hover .TextDesc {
    bottom: 15%;
}

.Projects a {
    text-decoration: none;
    color: white;
}

.TextDesc {
    font-size: .7vw;

    bottom: -100%;
    left: 50%;

    transition: .5s;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    text-align: center;
}
.Proj2 span{
    color: black;
    background: rgba(255, 255, 255, 0.8);
}
.Proj1 .textDesc {
    font-size: .8vw;
}

.Proj1 .text {
    font-size: 1vw;
}

@media screen and (max-width: 177.777vh) {

    .Projects {
    grid-template-areas:
    'main'
    'sec' 
    'terd';
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    width: 90vw;
    left: 5vw;
    grid-gap: 5vw;

}
    .Projects video {
    border-radius: 2vw;
}
 .Text {
    left: 15%;
    font-size: 3.5rem
}
.TextDesc{
        bottom: 15%;
    font-size: 3.5rem
}
.Proj1 .TextDesc {
    font-size: 3.5rem
}

.Proj1 .Text {
    font-size: 3.5rem
}
}