.RepAll>*{
	color: black;
}
hr{
	position: relative;	
	left: 10%;
	width: 80%;
	border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
a{
	text-decoration: none;
	color: #0000FF;
}
a:hover{
	color: #A400FF;
	text-decoration: underline;
	
}
.RepAll{
	padding: 1.5vw;
	border: 1px solid black;
	border-radius: 0.3vw; 
}
.Reposit{
  display: grid;
  grid-template-areas:
  "name descrip language create update size";
  grid-template-columns: 1fr 5fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 3vh;
}
.Top{
  display: grid;
  grid-template-areas:
  "name descrip language create update size";
  grid-template-rows: 5vh;
  grid-template-columns: 1fr 5fr 1fr 1fr 1fr 1fr;
}
.name{
grid-area: name;
}
.descrip{
grid-area: descrip;
}
.language{ 
grid-area: language;
}
.create{
grid-area: create;
}
.update{
grid-area: update;
}
.size{
grid-area: size;
}