.RepAll>* {
    color: black;
}

hr {
    position: relative;
    left: 10%;

    width: 80%;
    height: 1px;

    border: 0;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, .75), rgba(0, 0, 0, 0));
}

.Reposit a {
    text-decoration: none;

    color: #00f;
}

.Reposit a:hover {
    text-decoration: underline;

    color: #a400ff;
}

.RepAll {
    position: relative;
    left: 18.5vw;

    padding: 1.5vw;

    border: 1px solid black;
    border-radius: .3vw;
}

.Reposit {
    display: -ms-grid;
    display: grid;

    grid-template-areas: 'name descrip language create update size';
    -ms-grid-columns: 1fr 5fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 5fr 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 3vh;
    grid-template-rows: 3vh;
}

.Top {
    display: -ms-grid;
    display: grid;

    grid-template-areas: 'name descrip language create update size';
    -ms-grid-rows: 5vh;
    grid-template-rows: 5vh;
    -ms-grid-columns: 1fr 5fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 5fr 1fr 1fr 1fr 1fr;
}

.name {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: name;
}

.Top>.name {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.descrip {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: descrip;
}

.Top>.descrip {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
}

.language {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: language;
}

.Top>.language {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}

.create {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
    grid-area: create;
}

.Top>.create {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
}

.update {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
    grid-area: update;
}

.Top>.update {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
}

.size {
    -ms-grid-row: 1;
    -ms-grid-column: 6;
    grid-area: size;
}

.Top>.size {
    -ms-grid-row: 1;
    -ms-grid-column: 6;
}


@media screen and (max-width: 177.777vh) {
.RepAll {
    position: relative;
    top: 10vh;
    width: 90vw;
    left: 3vw;
    border-radius: 2vw;
}
.Reposit>* {
    font-size: 3.25rem;
}
.Reposit{
    min-height: 7vh;
}
.name>* {
    font-size: 3.25rem;
}
.Top>* {
    font-size: 3.25rem;
}
}