.Header
  position: relative
  z-index: -1
  height: 100vh

  > img
    position: fixed
    margin: auto
    width: 100%

.Name
  font-size: 2rem
  position: absolute
  width: 100%
  max-width: 800px
  color: white
  text-align: justify
  position: absolute
  top: 50%
  right: 0
  transform: translate(0,-50%)

  h1
    letter-spacing: 31px

.SideBar
  position: absolute
  top: 50%
  left: 0

.HeaderAll
  position: absolute
  top: 50%
  left: 50%
  width: 100%
  max-width: 1200px
  transform: translate(-50%, -50%)