.Header
  position: relative
  z-index: -1
  height: 100vh

  > img
    position: fixed
    left: 50%
    width: 100vw
    height: auto
    -webkit-transform: translate(-50%)
    transform: translate(-50%)

.Name
  font-size: 2.5rem
  position: absolute
  top: 50%
  left: 50%
  width: 50vw
  color: white
  -webkit-transform: translate(-50%, -50%)
  transform: translate(-50%, -50%)
  text-align: justify

  p
    font-size: 1.5em