
// MAIN CONTACT 

.ContactPage
  position: relative
  width: 100%
  max-width: 1200px
  height: 110vh
  margin: auto

  > h1
    position: absolute
    top: 10vh
    filter: invert(100%)

// FORM

.Form
  position: absolute
  top: 22%
  left: 50%
  transform: translate(-50%)
  width: 600px
  height: 70vh
  border-radius: 5px
  box-shadow: 0 0 10px black

.FormArea
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

  input
    outline: none
    border: 1px solid black
    width: 300px
    padding-top: 4px
    padding-bottom: 4px
    padding-left: 12px
    padding-right: 12px
    border-radius: 5px
    margin-bottom: 7%
    margin-top: 2.5%

textarea
  resize: none
  width: 300px
  height: 120px
  outline: none
  border: 1px solid black
  padding-top: 4px
  padding-bottom: 4px
  padding-left: 12px
  padding-right: 12px
  border-radius: 5px
  margin-bottom: 5%
  margin-top: 2.5%

.FormArea input
  &[type=submit]
    position: relative
    top: 3vh
    width: 100%
    background: white
    color: black
    border: 1px solid black

    &:hover
      background: black
      color: white

  &:hover
    box-shadow: 0 0 10px black

textarea:hover
  box-shadow: 0 0 10px black

.FormArea input:focus, textarea:focus
  box-shadow: 0 0 5px black