@font-face {
    font-family: 'font';

    src: url('../Static/Fonts/All.ttf');
}

@font-face {
    font-family: 'h';

    src: url('../Static/Fonts/H1.ttf');
}

* {
    font-family: 'font';
    /*font-size: 1em;*/

    margin: 0;
    padding: 0;

    transition: .3s;
}

h1 {
    font-family: 'h';
    font-size: 3.25rem;

    padding-top: 10px;
    padding-left: 10px;

    letter-spacing: 1rem;

    color: black;
    border-radius: .2vw;
    background: rgba(255, 255, 255, .8);
}