@font-face{
	font-family: 'font';
	src: url('../static/17789.ttf');
}
* {
	font-family: 'font';
    /*font-size: 1em;*/

    margin: 0;
    padding: 0;

    transition: .3s;
}


h1{
	font-size: 3.25rem;
}