*{
  padding: 0;
  margin: 0;
  font-size: 0.7vw;
  transition: .3s;
}

.app{
  display: grid;
  grid-template-areas:
  "head"
  "main"
  "foot";

  grid-template-rows: 100vh 300vh 50vh;
  
  color: white;
}
