@font-face
  font-family: 'font'
  src: url('../Static/Fonts/All.ttf')

@font-face
  font-family: 'h'
  src: url('../Static/Fonts/H1.ttf')
  
*
  font-family: 'font'
  margin: 0
  padding: 0
  transition: .3s

h1
  font-family: 'h'
  font-size: 40px
  padding-top: 17px
  padding-left: 10px
  letter-spacing: 10px
  text-align: center
  color: black
  border-radius: .2vw
  background: rgba(255, 255, 255, 0.8)

  &:hover
    box-shadow: 0 0 10px white !important

::selection 
    background: black
    color: white
