@mixin size($size)
  
  @if $size == XL
    @media screen and (min-width: 1300px)
      @content
  
  @else if $size == M
    @media screen and (min-width: 768px)
      @content
   
  @else if $size == S
    @media screen and (min-width: 600px)
      @content

  @else if $size == XS
    @media screen and (max-width: 600px)
      @content

@mixin center
  left: 50%
  transform: translate(-50%)

@mixin fontSize
  @include size(XS)
    line-height: 125%
    letter-spacing: 0.75pt
    font-size: 10pt
    
  @include size(S)
    line-height: 150%
    letter-spacing: 1pt
    font-size: 12pt

// FOOTER BACK 100vw

.FooterMain
  position: relative
  box-shadow: 0 0 10px black
  color: white
  background: black
  width: 100%
  @include size(XS)
    height: 1400px

  @include size(S)
    height: 1450px

  @include size(XL)
    height: 600px

// FOOTER FRONT 1200px

.Footer
  position: relative
  margin: auto
  height: 100%
  width: 100%
  max-width: 1200px
  ::selection 
    background: #fffffffc
    color: black

// LIKEBTN

.LikeBtn
  position: absolute
  height: 40px
  bottom: 10px
  background: rgba(255, 255, 255, 0.2)
  transform: translate(-50%)
  width: 200px
  border-radius: 5px

  @include size(XS)
    left: 50%
  
  @include size(S)
    left: 50%

  @include size(XL)
    left: 25%

  span
    position: absolute
    top: 50%
    left: 50%
    -webkit-transform: translate(-50%, -50%)
    transform: translate(-50%, -50%)
    text-decoration: none
    color: white  
    @include fontSize
    font-size: 8pt

.LikeBtn:hover
  background: rgba(255, 255, 255, 0.4)
  box-shadow: 0 0 10px #ff6b61 !important

.LikeMess
  position: absolute
  bottom: 70px
  transform: translate(-25%)
  box-shadow: 0 0 10px white
  border-radius: 5px
  padding: 3px
  padding-left: 10px
  padding-right: 10px
  @include fontSize
  
  @include size(XS)
    left: 50%
    transform: translate(-50%)
  
  @include size(S)
    left: 50%
    transform: translate(-50%)
  
  @include size(XL)
    left: 25%
    transform: translate(-50%)

// SIDEBAR

.SideBar
  position: relative
  transform: translate(0, -50%)

  @include size(XS)
    width: 20px
  
  @include size(S)
    width: 24px
  
  @include size(XL)
    width: 28px

  a > img, div > img
    position: relative
    margin: 20%
    @include size(XS)
      width: 20px
    
    @include size(S)
      width: 24px
    
    @include size(XL)
      width: 28px

    &:hover
      filter: invert(1)
      left: 3.84px

.Footer > .SideBar
  @include size(XS)
    top: 260px
    left: 5vw
  
  @include size(S)
    top: 300px
    left: 10%
  
  @include size(XL)
    top: 50%
    transform: translate(0, -50%)
    left: 0

// TEXT WITH TITLE 

.Text
  div
    position: absolute
    @include fontSize

    @include size(XS)
      right: 5vw
      top: 150px
  
    @include size(S)
      right: 10%
      top: 155px
    
    @include size(XL)
      transform: translate(0)
      left: 25%
      width: 230px
      transform: translate(-50%, -50%)
      top: 50%
      
  h1
    position: absolute

    @include size(XS)
      top: 50px
      max-width: 400px
      width: 90%
      right: 30px
      left: 50%
      transform: translate(-50%)

    @include size(S)
      top: 10px
      width: 400px
      left: 50%
      transform: translate(-50%)
    
    @include size(M)
      top: 10px
      width: 500px
      left: 50%
      transform: translate(-50%)

    @include size(XL)
      width: 500px
      left: 25%
      transform: translate(-50%)
