// FOOTER BACK 100vw
.FooterMain
  position: relative
  height: 50vh
  box-shadow: 0 0 0.5vw black
  color: white
  background: black
  width: 100%

// FOOTER FRONT 1200px
.Footer
  position: relative
  margin: auto
  height: 100%
  width: 100%
  max-width: 1200px

// DOWNMENU

.Menu
  position: absolute
  bottom: 4vh
  width: 40%

  span
    position: absolute
    top: 50%
    left: 50%
    -webkit-transform: translate(-50%, -50%)
    transform: translate(-50%, -50%)
    text-decoration: none
    color: white

.MenuDiv, .LikeBtn
  position: absolute
  width: 100px
  height: 4vh
  background: rgba(255, 255, 255, 0.2)

.MenuDiv:hover, .LikeBtn:hover
  background: rgba(255, 255, 255, 0.4)

.MenuDiv#MainMenu
  left: 0

.MenuDiv#ContactMenu
  left: 25%

.LikeBtn
  right: 0

.LikeMess
  position: absolute
  bottom: 2vh
  right: -12%
  box-shadow: 0 0 10px white
  border-radius: 5px
  padding: 3px

// SIDEBAR

.SideBar
  position: absolute
  top: 50%
  transform: translate(0, -50%)
  width: 28px

  a > img
    position: relative
    width: 28px
    margin: 20%

    &:hover
      filter: invert(100%)
      left: 3.84px

  

.SideBarPic
  position: absolute
  top: -13%
  left: -70%

// TEXT WITH TITLE 

.Text
  div
    position: absolute
    top: 17vh
    left: 10vw

  h1
    position: absolute
    left: 5vw
    top: 10vh
    font-size: 2.5em
