.site{
  position: absolute;
  left: 20vw;

  display: grid;

  grid-template-areas:
  "head"
  "main"
  "foot";

  grid-template-rows: 1fr 5fr 1fr;
  grid-template-columns: 60vw;
  
  color: white;
}
.header{
  grid-area: head;
  background: black;
}
.header video {
  width: 100%;
}
.main{
  grid-area: main;
  background: green;
}
.footer{
  grid-area: foot;
  background: blue;
}
