*{
  padding: 0;
  margin: 0;
}
.site{
  position: absolute;
  left: 20vw;

  display: grid;

  grid-template-areas:
  "head"
  "main"
  "foot";

  grid-template-rows: 1fr 5fr 1fr;
  grid-template-columns: 60vw;
  
  color: white;
}
.header{
  grid-area: head;
}
.header video {
  width: 100%;
}
.Title_header_name{
  position: absolute;
  right: 6vw;
  top: 44vh;
}
.Title_header_subs{
  position: absolute;
  left: 10vw;
  top: 20vh;
}
.main{
  grid-area: main;
  background: green;
}
.footer{
  grid-area: foot;
  background: blue;
}
